.pageError{
background-image: url(../../images/imageedit_1_9273372713.png);
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: multiply;
background-color: rgb(122, 115, 113);

}