.offer{
background-image: url(../../../../images/father.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position:center;
background-blend-mode: multiply;
background-color: rgb(63, 61, 60);
}